
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>海洋生物毒素资料库</title>

    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template
    <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/theme.css" rel="stylesheet">
 -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">中国人民解放军海军医学研究所</a>
        </div>
	<div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="keyword" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Search</button>
          </form>
        </div><!--/.navbar-collapse -->
        <!-- title bar -->
        <!-- 
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div> --><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>岩沙海葵毒素</h1>
        <p>岩沙海葵毒素是一个复杂的海洋天然产物，含有71不对称中心，是一类从沙群海葵科岩沙海葵中提取的水溶性线性聚醚，被认为是毒性最强的非肽类物质，仅次于刺尾鱼毒素</p>
        <a href="/public/images/img_1.png" target="_blank"><img src="/public/images/img_1.png" /></a>
      </div>


      <div class="page-header">
        <h1>目录</h1>
      </div>
          <div class="row">
         <div class="col-sm-full">
          <div class="list-group">
            <a href="#" class="list-group-item">基本信息</a>
            <a href="#" class="list-group-item">化学分类</a>
            <a href="#" class="list-group-item">外部链接</a>
            <a href="#" class="list-group-item">物理性质</a>
            <a href="#" class="list-group-item">毒性</a>
            <a href="#" class="list-group-item">参考文献</a>
          </div>
        </div><!-- /.col-sm-4 -->
		</div>
		
		
	 <div class="page-header">
        <h2>基本信息</h2>
      </div>
        <div class="row">
        
        
        <div class="col-sm-full">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">常用名</h3>
            </div>
            <div class="panel-body">
              岩沙海葵毒素 Palytoxin
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
                <div class="col-sm-full">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">概述</h3>
            </div>
            <div class="panel-body">
              岩沙海葵毒素是一个复杂的海洋天然产物，含有71不对称中心，是一类从沙群海葵科岩沙海葵中提取的水溶性线性聚醚，被认为是毒性最强的非肽类物质，仅次于刺尾鱼毒素 (S361).
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
                <div class="col-sm-full">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">化合物类型</h3>
            </div>
            <div class="panel-body">
              有机化合物;海洋毒素
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
                <div class="col-sm-full">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">化学式</h3>
            </div>
            <div class="panel-body">
              C129H223N3O54
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
                <div class="col-sm-full">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">平均分子量</h3>
            </div>
            <div class="panel-body">
              2680.1386
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
                <div class="col-sm-full">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">化学文摘号（CAS）</h3>
            </div>
            <div class="panel-body">
              77734-91-9
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        
      </div>
      
      <div class="page-header">
        <h2>化学分类</h2>
      </div>
        
      <div class="page-header">
        <h2>外部链接</h2>
      </div>
        <div class="row">
        
        
        <div class="col-sm-full">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">PubChem Compound ID</h3>
            </div>
            <div class="panel-body">
              <a href="http://pubchem.ncbi.nlm.nih.gov/compound/4660115">4660115</a>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
                <div class="col-sm-full">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Stitch ID</h3>
            </div>
            <div class="panel-body">
              <a href="http://stitch.embl.de/interactions/CIDPalytoxin?species=9606">Palytoxin</a>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
                <div class="col-sm-full">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Wikipedia Link</h3>
            </div>
            <div class="panel-body">
              <a href="http://stitch.embl.de/interactions/CIDPalytoxin?species=9606">http://en.wikipedia.org/wiki/Palytoxin </a>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        
      </div>
      
		<div class="page-header">
        <h2>物理性质</h2>
      </div>
      
       <div class="page-header">
        <h2>化学分类</h2>
      </div>
        
      <div class="page-header">
        <h2>毒性</h2>
      </div>
        <div class="row">
        <div class="col-sm-full">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">暴露途径</h3>
            </div>
            <div class="panel-body">
              食入，皮肤和眼睛接触。 (S362, S363)
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
                <div class="col-sm-full">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">作用机制</h3>
            </div>
            <div class="panel-body">
              岩沙海葵毒素为最早开展研究的聚醚毒素，此类毒素既有神经毒性，又有细胞毒性，能作用于心肌细胞的Na+-K+-ATP酶，能增加细胞对Na+、Ca2+的摄人量及K+的外流量，可将钠泵变成离子通道小孔，进而引发一系列的药理学和毒理学作用，如导致平滑肌、心肌及骨骼肌收缩。(S361,S365 )
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
                <div class="col-sm-full">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">毒性评价</h3>
            </div>
            <div class="panel-body">
              LD50: 0.025 μg/kg (静脉注射, 家兔) (S366)
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
                 <div class="col-sm-full">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">致死剂量</h3>
            </div>
            <div class="panel-body">
              人类食入致死剂量为 1-4 毫克. (S366)
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
                 <div class="col-sm-full">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">健康影响</h3>
            </div>
            <div class="panel-body">
              岩沙海葵毒素中毒可引起多种临床反应，包括感觉异常，味觉改变，高血压，呼吸抑制，昏迷。其他健康的影响包括心动过速，血压不稳，溶血等。病人发病急骤，可在几分钟内死亡。早期死亡可能是由于激烈的冠状动脉血管平滑肌痉挛，导致血流量显著降低，接着会导致血管坏死，最终是全身的细胞坏死。延迟的死亡可能因为普遍的血流量和氧供应减少，最终导致器官缺血和缺氧。局部症状一般为水肿性红斑、丘疹，经过数日消退，重者在数分钟内局部出现灼痛、刺痛感，继而出现水疱、出血或溃疡。(S361, S363).
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
                  <div class="col-sm-full">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">中毒症状</h3>
            </div>
            <div class="panel-body">
              岩沙海葵毒素中毒的典型症状是心绞痛样胸痛，哮喘样呼吸困难，心电图显示T波夸张(S361).
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
         <div class="col-sm-full">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">治疗</h3>
            </div>
            <div class="panel-body">
            螫伤后应立即除去皮肤表面的触手、刺丝胞和刺丝，活性氯(5.25%的漂白粉溶于1mol/L盐酸溶液)，0.5-1 mol/L氢氧化钠溶液均为有效的皮肤染毒消毒剂，可用糖皮质激素和组胺拮抗剂来减轻皮肤症状；全身治疗可用罂粟碱和硝酸异山梨醇(消心痛)作心室内直接注射，其它症状可对症处理。 (S361, S362)
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
         <div class="col-sm-full">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">靶点（targets）</h3>
            </div>
            <div class="panel-body">
              1. 钠钾ATP酶通道蛋白亚基 gamma，UniProt ID：P54710<br/>
2. 钠钾ATP酶通道蛋白亚基 alpha-1，UniProt ID：P05023<br/>
3. 钠钾ATP酶通道蛋白亚基 alpha-2，UniProt ID：P50993<br/>
4. 钠钾ATP酶通道蛋白亚基 alpha-3，UniProt ID：P13637<br/>
5. 钠钾ATP酶通道蛋白亚基 alpha-4，UniProt ID：Q13733<br/>
6. 钠钾ATP酶通道蛋白亚基 beta-1，UniProt ID：P05026<br/>
7. 钠钾ATP酶通道蛋白亚基 beta-2，UniProt ID：P14415<br/>
8. 钠钾ATP酶通道蛋白亚基 beta-3，UniProt ID：P54709
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        
        <div class="page-header">
        <h2>参考文献</h2>
      </div>
        <div class="well">
        <p>
        S361 — Wikipedia. Palytoxin. Last Updated 4 August 2009. [Link]<br/>
S362 — Nordt SP, Wu J, Zahller S, Clark RF, Cantrell FL. Palytoxin Poisoning After Dermal Contact with Zoanthid Coral. J Emerg Med. 2009 Jun 20. [Epub ahead of print] [19545971]<br/>
S363 — Vick JA, Wiles JS. The mechanism of action and treatment of palytoxin poisoning. Toxicol Appl Pharmacol. 1975 Nov;34(2):214-23. [1871]<br/>
S365 — Tosteson MT, Scriven DR, Bharadwaj AK, Kishi Y, Tosteson DC. Interaction of palytoxin with red cells: structure-function studies. Toxicon. 1995 Jun;33(6):799-807. [7676471]<br/>
S366 — Wang DZ. Neurotoxins from marine dinoflagellates: a brief review. Mar Drugs. 2008 Jun 11;6(2):349-71. [18728731]<br/>
        </p>
      </div>
      </div>
      
      <div class="page-header">
      </div>
      <p><center>Copyright &copy; 2015 海军医学研究所. All Rights Reserved. </center</p>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
